.post {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  max-width: 400px;
}

.image {
  border-radius: 50px;
}

.post-image img {
  width: 100%;
  height: auto;
  object-fit: "cover";
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.media-left {
  /* margin-right: 10px; */
}

.media-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-time {
  margin-left: auto;
  font-size: 0.8rem;
  color: #888;
}

.user-name {
  display: flex;
  align-items: baseline;
}

.new-post {
  display: flex;
  margin: 20px;
  border: 1px solid #dbdbdb;
  max-width: 400px;
  flex-direction: column;
}
