.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  height: 100vh;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.sidebar ul li.active {
  font-weight: bold;
  color: #000;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 20px;
}

.notifications-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
