.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background: linear-gradient(135deg, #f57ca8 0%, #72dad3 100%);
  padding: 20px;
  text-align: center;
  height: 100vh;
  color: #fff;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.sidebar ul li.active {
  font-weight: bold;
  color: #ffffff;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 20px;
}

.notifications-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.logout-button {
  /* margin-top: auto; */
  color: rgb(226, 0, 0);
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
}

.logout-button:hover {
  /* background-color: #c0392b; */
  color: rgb(238, 132, 132);
}

.logout-button .sidebar-icon {
  margin-right: 10px;
}
